name: basic ci


on:
  push:
    branches: 
      - main
  pull_request:
      branches:
        - main

        
jobs:
  lint:
      runs-on: ubuntu-latest
      steps:
        - name: Checkout code
          uses: actions/checkout@v4
        - name: install flake8
          run: pip install flake8
        - name: install lint
          run: flake8 .


  test:
    runs-on: ubuntu-latest
    needs: lint

    steps:
      - name: Checkout code
        uses: actions/checkout@v4
      - name: build docker image
        run: docker build -t test_ci .
      

    #  conflict-no protectionrule

      
